  TD {background-color:#EDE7F6;padding-top:5px;padding-left:10px;padding-right:10px}
  TH {color:white;background-color:orange;padding-top:5px;padding-left:10px;padding-right:10px}
  TABLE {margin:auto}
  BODY {background-color:#e74c3c;}
  P{text-align:center;}
  H1{text-align:center;border:5px solid black;color:white;}
  Div{border-style:dotted; text-align:center;}
  CAPTION {color:white;}
  H2 {text-shadow: 2px 2px #FF0000;text-align: center}